$inputs-height: 80px;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: #{$inputs-height} calc(100% - #{$inputs-height});
    grid-template-columns: 50% 50%;

    .query-bar {
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: #6272a4;
    }

    .input-json,
    .output-json {
        height: 100%;
        grid-row: 2/3;
    }

    .input-json {
        grid-column: 1/2;
    }

    .output-json {
        grid-column: 2/3;
        filter: hue-rotate(-60deg);
    }

    .CodeMirror {
        height: 100%;
        width: 100%;
    }

    .CodeMirror-code {
        font-family: 'Consolas', monospace !important;
    }
}
